Repository fga-eps-mds/2021.1-Pro-Especies-Docs, pull requests merged in 2021-09, with the labels that each got.

#88 #67 Refatorar o diagrama de casos de uso
  docs/Assets/Images/ArchitectureDocument/UseCase.png
  docs/Product/ArchitectureDocument.md
Labels: ARQ, DOCS

#115 #90 - Refatoracao de documentos
  docs/Assets/Images/ArchitectureDocument/BackPackageDiagram.png
  docs/Assets/Images/ArchitectureDocument/ClassDiagram.png
  docs/Assets/Images/ArchitectureDocument/CrawlerPackageDiagram.png
  docs/Assets/Images/ArchitectureDocument/FrontPackageDiagram.png
  docs/Assets/Images/ArchitectureDocument/RelationsDiagram.png
  docs/Assets/Images/BurndownCharts/BurnDownSprint1.png
  docs/Assets/Images/EAR/EAR.png
  docs/Assets/Images/LeanInception/CanvasMVP3.0.png
  docs/Assets/Images/ProductBacklog/BacklogV2.png
  docs/Assets/Images/RiskBurnDownCharts/RiskBurnDownPréSprint0.png
  docs/Assets/Images/RiskBurnDownCharts/RiskBurnDownPréSprint1.png
  docs/Assets/Images/RiskBurnDownCharts/RiskBurnDownSprint0.png
  docs/Assets/Images/RiskBurnDownCharts/RiskBurnDownSprint1.png
  docs/Assets/Images/RiskBurnDownCharts/RiskBurnDownSprint2.png
  docs/LeanInception/Meetings/04082021LeanInception.md
  docs/LeanInception/Meetings/05082021LeanInception.md
  docs/LeanInception/Meetings/06082021LeanInception.md
  docs/LeanInception/Meetings/07082021LeanInception.md
  docs/LeanInception/Meetings/09082021LeanInception.md
  docs/LeanInception/Meetings/10082021LeanInception.md
  docs/Policies/Branches.md
  docs/Policies/Issues.md
  docs/Product/ArchitectureDocument.md
  docs/Product/ProductBacklog.md
  docs/Project/CommunicationPlan.md
  docs/Project/GanttChartSchedule.md
  docs/Project/RiskPlan.md
  docs/Sprints/Pré-Sprints/14082021PréSprint0Closure.md
  docs/Sprints/Pré-Sprints/21082021PréSprint1Closure.md
  docs/Sprints/Sprint0/23082021Sprint0Opening.md
  docs/Sprints/Sprint0/28082021Sprint0Closure.md
  docs/Sprints/Sprint1/04092021Sprint1Closure.md
  docs/Sprints/Sprint1/30082021Sprint1Opening.md
  docs/Sprints/Sprint2/06092021Sprint2Opening.md
  docs/_sidebar.md
Labels: Scrum Master, Product Owner, ARQ, DOCS

#114 Criação do documento de EVM e Custos
  docs/Project/EarnedValueManagement.md
  docs/_sidebar.md
Labels: EPS, DOCS
