Repository fga-eps-mds/2021.1-Pro-Especies-Docs, pull requests merged in 2021-08, with the labels that each got.

#28 Criação do documento de Sprint 0 e atualização dos documentos da Lean Inception
  docs/Assets/Images/KnowledgeBoard/KnowledgeBoardSprint0.png
  docs/Assets/Images/LeanInception/CanvasMVP1.0.png
  docs/Assets/Images/LeanInception/CanvasMVP2.0.png
  docs/LeanInception/Meetings/09082021LeanInception.md
  docs/LeanInception/Meetings/10082021LeanInception.md
  docs/Sprints/Sprint0/09082021Sprint0Opening.md
  docs/Sprints/Sprint0/14082021Sprint0Closure.md
  docs/_sidebar.md
Labels: documentation, Scrum Master

#29 #27 - Protótipo de média fidelidade
  docs/Assets/Images/MediumFidelityPrototype/Navigation.png
  docs/Assets/Images/MediumFidelityPrototype/Profile.png
  docs/Assets/Images/MediumFidelityPrototype/Report.png
  docs/Assets/Images/MediumFidelityPrototype/UserAutenthication.png
  docs/Assets/Images/MediumFidelityPrototype/Wiki.png
  docs/Project/MediumFidelityPrototype.md
  docs/_sidebar.md
Labels: documentation, Product Owner

#30 23 - Criação do documento de plano de riscos
  docs/Assets/Images/EAR/EAR.png
  docs/Project/MediumFidelityPrototype.md
  docs/Project/RiskPlan.md
  docs/_sidebar.md
Labels: documentation, Scrum Master

#33 #17 Criação dos Protótipos de Baixa Fidelidade
  docs/Assets/Images/LowFidelityPrototype/DanielCoimbra/lofi_prototype.png
  docs/Assets/Images/LowFidelityPrototype/GabrielFreitas/PrototipoBaixaFidelidade.jpg
  docs/Assets/Images/LowFidelityPrototype/JoãoVictorBatista/prototipo_baixa_fidelidade.png
  docs/Assets/Images/LowFidelityPrototype/NatanTavaresSantana/1.jpg
  docs/Assets/Images/LowFidelityPrototype/NatanTavaresSantana/2.jpg
  docs/Assets/Images/LowFidelityPrototype/PauloHenrique/1.jpg
  docs/Assets/Images/LowFidelityPrototype/PauloHenrique/2.jpg
  docs/Project/LowFidelityPrototype.md
Labels: documentation, MDS, Product Owner

#37 #35 - Estilização da WIki
  README.md
  docs/Assets/Css/home.css
  docs/README.md
  docs/_coverpage.md
  docs/index.html
Labels: DOCS

#36 32 - Adição do planejamento da sprint 1
  docs/Sprints/Sprint1/16082021Sprint1Opening.md
  docs/_sidebar.md
Labels: Scrum Master, DOCS

#38 #25 - Documento de Visão
  docs/Product/VisionDocument.md
  docs/_sidebar.md
Labels: documentation, MDS, DOCS

#39 #26 - Documento arquitetura
  docs/Assets/Images/ArchitectureDocument/casos_de_uso.png
  docs/Assets/Images/ArchitectureDocument/diagrama_de_pacotes_back.png
  docs/Assets/Images/ArchitectureDocument/diagrama_de_pacotes_crawler.png
  docs/Assets/Images/ArchitectureDocument/diagrama_de_pacotes_front.png
  docs/Assets/Images/ArchitectureDocument/relations_diagram.png
  docs/Project/ArchitectureDocument.md
  docs/_sidebar.md
Labels: documentation, MDS, ARQ, DOCS

#59 Refinar Backlog
  docs/Assets/Images/ProductBacklog/BacklogV1.1.png
  docs/Assets/Images/ProductBacklog/BacklogV1.jpg
  docs/Product/ProductBacklog.md
  docs/_sidebar.md
Labels: Product Owner, DOCS

#58 Criar Diagrama de Classes
  docs/Assets/Images/ArchitectureDocument/ClassDiagram.png
  docs/Assets/Images/ArchitectureDocument/RelationsDiagram.png
  docs/Product/ArchitectureDocument.md
Labels: ARQ, DOCS

#57 #53 Criação dos Léxicos
  docs/Lexis/Lexis.md
  docs/Lexis/LexisObjects.md
  docs/Lexis/LexisStates.md
  docs/Lexis/LexisVerbs.md
Labels: MDS, DOCS

#66 HOTFIX - Arrumando caminhos das imagens
  docs/Product/ProductBacklog.md
  docs/Project/LowFidelityPrototype.md
Labels: HOTFIX

#65 Documentar Fechamento da Sprint 0 e Planejamento da Sprint 1
  docs/Assets/Images/BurndownCharts/BurndownSprint0.png
  docs/Assets/Images/VelocityCharts/VelocitySprint0.png
  docs/Lexis/Lexis.md
  docs/Sprints/Pré-Sprints/14082021PréSprint0Closure.md
  docs/Sprints/Pré-Sprints/21082021PréSprint1Closure.md
  docs/Sprints/Sprint0/23082021Sprint0Opening.md
  docs/Sprints/Sprint0/28082021Sprint0Closure.md
  docs/Sprints/Sprint1/30082021Sprint1Opening.md
  docs/_sidebar.md
Labels: Scrum Master, DOCS
